/**/

body{
  background-color: turquoise;
}

.container{
  background-color: seashell;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 95%;
  height: 450px;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

@font-face{
  font-family: 'prstart';
  src: url("../fonts/prstart.ttf") format('truetype');
}

h1{
  font-family: prstart;
  font-size: 30px;
  color: black;
}

h2{
  font-family: prstart;
  font-size: 20px;
  color: black;
}

.row{
  margin-top: 20px;
  margin-bottom: 10px;
}

label{
  font-family: prstart;
  font-size: 15px;
  color: black;
}

button{
  font-family: prstart;
  font-size: 18px;
}