/**/

body{
  background-color: turquoise;
}

.container{
  background-color: seashell;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 95%;
}

h1{
  font-family: verdana;
}

h2{
  font-family: verdana;
}

.row{
  margin-top: 20px;
  margin-bottom: 10px;
}

label{
  font-family: verdana;
  font-size: 18px;
}

button{
  font-family: verdana;
  font-size: 18px;
}